.text{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0 30px;
}
input{
    display: block;
    margin: 15px 0;
    width: 370px;
    height: 40px;
    border: none;
    color: grey;
    background-color: rgb(226, 226, 226);
    padding-left: 10px;
}

button{
    border: none;
    padding: 18px 25px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
button:hover{
    background-color: black;
    color: white;
}