.video-preview{
    width: 100%;
}
.thumbnail{
    position: relative;
}
.thumbnail img{
    width: 100%;
}
.timestamp{
    background-color: black;
    color: white;
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.thumbnail-info{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.image-thumbnail-info{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.Video-Topic{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.channel-owner, .video-stats{
    font-weight: 300;
    font-size: 13px;
    color: rgb(97, 97, 97);
    margin: 5px 0;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;  
    row-gap: 10px;  
    margin-top: 90px;
}